.bandera{
    width: 25px;
    height: 25px;
}
#imglistar{
    background-color: #0077b3;
    border: 1px solid black;
    width: 270px;
    height: 280px;
}
#imglistar:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 5px 14px 26px black;
    transition: all 0.2s ease;
}
.avatar{
    margin-bottom: 15px;
    width: 55px;
    height: 55px;
}
.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}
.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
    width: 100%;    
}
.pub_image{
    margin-bottom: 25px;
}
.pub_image .container-avatar{
    float:left;
    margin-right: 20px;
}
td .foto{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}
td{
    text-align: center;
    vertical-align: central;
}
.foto{
    width: 35px;
    height: 35px;
    align-items: center;
    vertical-align: central;
}

#cuerpo{
    width: 100%;
    height: auto;
}

.botonenviar{
    margin-left: 25px;
    margin-bottom: 15px;
}
#contenido{
    width: 100%;
    height: auto;
}
#navegacion{
    background-color: black;
}
.cabecero{
    background-color: #00A6C7;
}
.perfil{
    width: 95px;
    height: 75px;
    align-items: center;
    vertical-align: central;
}
#btneditar{
    float: right;
    margin-top: 15px;
    
}
